@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.gradient-bg {
  background-color:hsla(122,0%,100%,1);
  background-image:
  radial-gradient(60% 100% at 32% 81%, hsla(107, 100%, 73%, 0.151) 0px, transparent 50%),
  radial-gradient(20% 100% at 23% 14%, hsla(147, 100%, 60%, 0.153) 0px, transparent 50%),
  radial-gradient(20% 100% at 36% 8%, hsla(190, 100%, 64%, 0.236) 0px, transparent 50%),
  radial-gradient(20% 100% at 41% 2%, hsla(69,100%,69%,0.38) 0px, transparent 50%),

  radial-gradient(60% 100% at 82% 21%, hsla(107, 100%, 73%, 0.151) 0px, transparent 50%),
  radial-gradient(30% 100% at 63% 84%, hsla(147, 100%, 60%, 0.153) 0px, transparent 50%),
  radial-gradient(60% 100% at 99% 84%, hsla(190, 100%, 64%, 0.117) 0px, transparent 50%);
  /* radial-gradient(40% 100% at 37% 22%, hsla(69,100%,69%,0.38) 0px, transparent 50%); */
}
